<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.personal.practice.mapper.StudentMapper">

<!--    <resultMap id="BaseResultMap" type="com.example.entity.User">-->
<!--        <result column="id" jdbcType="INTEGER" property="id" />-->
<!--        <result column="userName" jdbcType="VARCHAR" property="userName" />-->
<!--        <result column="passWord" jdbcType="VARCHAR" property="passWord" />-->
<!--        <result column="realName" jdbcType="VARCHAR" property="realName" />-->
<!--    </resultMap>-->

<!--    <select id="Sel" resultType="com.example.entity.User">-->
<!--        select * from user where id = #{id}-->
<!--    </select>-->

    <insert id="insert" parameterType="com.personal.practice.entity.Student">
        insert into Student(name,age,money,score) value (#{student.name},#{student.age},#{student.money},#{student.score})
    </insert>

    <select id="listStudent" resultType="com.personal.practice.entity.Student">
        select * from student0 limit 10;
    </select>

</mapper>